<html ng-app="testApp">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="TestController">
      <input notifier element-name="val.a.name" react-to="reactOptions2" type="number" ng-model="val.a.value" />
      <input notifier element-name="val.b.name" react-to="reactOptions2" type="number" ng-model="val.b.value" />

      <br>
      
      Res(a+b):<input notifier element-name="val.c.name" react-to="reactOptions" type="number" ng-model="val.c.value" ng-init="reactOptions.whatToDo()" disabled />

      <br>

      Res2(res+a):<input notifier element-name="val.d.name" react-to="reactOptions3" type="number" ng-model="val.d.value" disabled />
    </div>
  </body>
</html>